/* border box, margin, padding reset  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f8f9;
  font-family: 'roboto', sans-serif;
}

/* ============= header =================== */
header {
  background-color: white;
  padding: 10px 25px;
  margin-bottom: 25px;
}

header h1 {
  display: inline-block;
  font-size: 45px;
  vertical-align: middle;
}

header img {
  vertical-align: middle;
}
/* ============ main ================================== */
.container-large {
  max-width: 1100px;
  background-color: white;
  margin: auto;
  padding: 15px 55px 10px;
}

.container-button {
  border-radius: 5px 5px 0 0;
  margin-bottom: 2px;
}
/* ================buttons della section-1 nella main ==========*/

button {
  all: unset;
  /* ho resettato i valori default dei buttons
  i valori unset saranno overriden dai selettori più "precisi"*/
}
.container-button button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.add-task {
  background-color: #45abea;
  color: white;
  border: 1px solid #45abea;
}

.add-section {
  background-color: white;
  color: rgb(155, 153, 153);
  border: 1px solid rgb(155, 153, 153);
}
/*  */
.container-button button:hover {
  opacity: 0.6;
}
.container-button button:active {
  border: 1px solid black;
}

/* =================== sezione-2 ========================== */
.container-list {
  border-radius: 0 0 5px 5px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
.container-events-group h3::before {
  content: '\23F7';
  /* il triangolino a testa in giù all'
  inzio di ogni h3 nel div.container-events-group,
  ovvero i div della sezione-2*/
}
.container-events-group {
  margin: 40px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.single-event-block {
  margin: 20px 0;
}
.circle {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  border: 1px solid; /* il colore lo specifico in un'altra classe */
  border-radius: 50%;
  margin-inline-end: 5px;
}

.checked {
  font-weight: bold;
  color: green;
  border-color: green;
}

.cross {
  color: red;
  border-color: red;
}

.event-name {
  font-size: 25px;
}

/* stile generico tag evento */

.event-tag {
  display: inline-block;
  color: white;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 15px;
}

/* background-color di ogni specifico tag evento */
#lightblue {
  background-color: #45abea;
}

#purple {
  background-color: #9c72e4;
}

#watergreen {
  background-color: #64c0a9;
}

#orange {
  background-color: #f29e33;
}

#pink {
  background-color: #d863a1;
}

#lime {
  background-color: #b0c926;
}

/* ========= cazzeggio con JS ============ */
p {
  font-size: large;
  color: red;
  text-align: center;
  background-color: rgba(219, 255, 12, 0.842);
}
